<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>spring-mvc-example</display-name>

    <!-- Add Spring MVC DispatcherServlet as front controller -->
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <!-- contextConfigLocation init-param is used to provide the location of spring bean configuration file.-->
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


<!--    <servlet>-->
<!--        <servlet-name>Servlet</servlet-name>-->
<!--        <servlet-class>part2.Servlets.GoodListServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Servlet</servlet-name>-->
<!--        <url-pattern>/</url-pattern>-->
<!--    </servlet-mapping>-->


<!--    <servlet>-->
<!--        <servlet-name>AddProductToDbServlet</servlet-name>-->
<!--        <servlet-class>part2.Servlets.AddProductToDbServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>AddProductToDbServlet</servlet-name>-->
<!--        <url-pattern>/add-product</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>DeleteProductFromDbServlet</servlet-name>-->
<!--        <servlet-class>part2.Servlets.DeleteProductFromDbServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>DeleteProductFromDbServlet</servlet-name>-->
<!--        <url-pattern>/delete-product</url-pattern>-->
<!--    </servlet-mapping>-->


<!--    <servlet>-->
<!--        <servlet-name>AddProductToBucketDbServlet</servlet-name>-->
<!--        <servlet-class>part2.Servlets.AddProductToBucketDbServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>AddProductToBucketDbServlet</servlet-name>-->
<!--        <url-pattern>/add-product-to-bucket</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>DeleteProductFromBucketDbServlet</servlet-name>-->
<!--        <servlet-class>part2.Servlets.DeleteProductFromBucketDbServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>DeleteProductFromBucketDbServlet</servlet-name>-->
<!--        <url-pattern>/delete-product-from-bucket</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>